.Cards{
    border: 1px solid black;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    

}
.IMBackgroung{
    width: 100%;
    height: 45%;
    margin: 0;
    background-image: url("https://picsum.photos/400/600/?blur");
    /* background-color: aqua; */
    position: relative;
    bottom: 32px;
}
img{
    position: absolute;
    top: 90px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 10px;
}
p{
    margin: 0;
    padding: 0;
}
.stats{
    border-top: 1px solid black;
    display: flex;
    gap: 10px;
    justify-content: center;
}
